<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list page</title>
</head>
<body>
    <h1>Users Name is Here</h1>
    <h3>Name: <%= userList.name%></h3>
    <h3>age: <%= userList.age%></h3>
    <h3>email: <%= userList.email%></h3>
    
</body>
</html>